In [69]:
import numpy as np
import pandas as pd
import cv2
import matplotlib.pyplot as plt
import gc
from sklearn.preprocessing import LabelEncoder

In [70]:
gc.enable()

In [71]:
news_train_df_cleaned = pd.read_csv("./datasets/news_sample.csv")
market_train_df_cleaned = pd.read_csv("./datasets/marketdata_sample.csv")

In [72]:
news_train_df_cleaned['time'] =pd.to_datetime(news_train_df_cleaned.time)
news_train_df_cleaned['time'] = news_train_df_cleaned['time'].dt.strftime('%Y-%m-%d')

market_train_df_cleaned['time'] =pd.to_datetime(market_train_df_cleaned.time)
market_train_df_cleaned['time'] = market_train_df_cleaned['time'].dt.strftime('%Y-%m-%d')

In [73]:
#Market
market_train_df_cleaned.head(5)

,time,assetCode,assetName,universe,volume,close,open,returnsClosePrevRaw1,returnsOpenPrevRaw1,returnsClosePrevMktres1,returnsOpenPrevMktres1,returnsClosePrevRaw10,returnsOpenPrevRaw10,returnsClosePrevMktres10,returnsOpenPrevMktres10,returnsOpenNextMktres10
0,2007-02-01,A.N,Agilent Technologies Inc,1.0,2606900.0,32.19,32.17,0.005938,0.005312,NaN,NaN,-0.001860,0.000622,NaN,NaN,0.034672
1,2007-02-01,AAI.N,AirTran Holdings Inc,0.0,2051600.0,11.12,11.08,0.004517,-0.007168,NaN,NaN,-0.078708,-0.088066,NaN,NaN,0.027803
2,2007-02-01,AAP.N,Advance Auto Parts Inc,1.0,1164800.0,37.51,37.99,-0.011594,0.025648,NaN,NaN,0.014332,0.045405,NaN,NaN,0.024433
3,2007-02-01,AAPL.O,Apple Inc,1.0,23747329.0,84.74,86.23,-0.011548,0.016324,NaN,NaN,-0.048613,-0.037182,NaN,NaN,-0.007425
4,2007-02-01,ABB.N,ABB Ltd,1.0,1208600.0,18.02,18.01,0.011791,0.025043,NaN,NaN,0.012929,0.020397,NaN,NaN,-0.017994

In [74]:
news_train_df_cleaned.head(5)

,time,sourceTimestamp,firstCreated,sourceId,headline,urgency,takeSequence,provider,subjects,audiences,...,noveltyCount12H,noveltyCount24H,noveltyCount3D,noveltyCount5D,noveltyCount7D,volumeCounts12H,volumeCounts24H,volumeCounts3D,volumeCounts5D,volumeCounts7D
0,2007-01-01,2007-01-01 04:29:32+00:00,2007-01-01 04:29:32+00:00,e58c6279551b85cf,China's Daqing pumps 43.41 mln tonnes of oil i...,3,1,RTRS,"{'CRU', 'CN', 'RTRS', 'ENR', 'LEN', 'EMRG', 'N...","{'O', 'Z', 'OIL'}",...,0,0,0,0,0,0,0,3,6,7
1,2007-01-01,2007-01-01 07:03:34+00:00,2007-01-01 07:03:34+00:00,5a31c4327427f63f,"FEATURE-In kidnapping, finesse works best",3,1,RTRS,"{'BD', 'INS', 'LATAM', 'CA', 'US', 'MX', 'IL',...","{'PGE', 'PCU', 'PCO', 'DNP', 'MD', 'E', 'G', '...",...,1,1,1,1,1,1,1,3,3,3
2,2007-01-01,2007-01-01 11:29:56+00:00,2007-01-01 11:29:56+00:00,1cefd27a40fabdfe,PRESS DIGEST - Wall Street Journal - Jan 1,3,1,RTRS,"{'IQ', 'RO', 'US', 'ID', 'RET', 'RTRS', 'ENR',...","{'M', 'PMF', 'DNP', 'PTD', 'T', 'E', 'D', 'PSC...",...,0,0,0,0,0,0,0,5,11,17
3,2007-01-01,2007-01-01 12:08:37+00:00,2007-01-01 12:08:37+00:00,23768af19dc69992,PRESS DIGEST - New York Times - Jan 1,3,1,RTRS,"{'PUB', 'BUS', 'INS', 'CA', 'ENT', 'US', 'FIN'...","{'M', 'PMF', 'DNP', 'PTD', 'T', 'E', 'D', 'PSC...",...,0,0,0,0,0,0,0,5,13,15
4,2007-01-01,2007-01-01 12:08:37+00:00,2007-01-01 12:08:37+00:00,23768af19dc69992,PRESS DIGEST - New York Times - Jan 1,3,1,RTRS,"{'PUB', 'BUS', 'INS', 'CA', 'ENT', 'US', 'FIN'...","{'M', 'PMF', 'DNP', 'PTD', 'T', 'E', 'D', 'PSC...",...,0,0,0,0,0,0,0,0,0,0

In [77]:
#Market (Done)

#LabelEncode AssetName 
labelencoder_market_assetname = LabelEncoder()
market_train_df_cleaned.iloc[:, 2] = labelencoder_market_assetname.fit_transform(market_train_df_cleaned.iloc[:, 2])

#LabelEncode AssetCode 
labelencoder_market_assetcode = LabelEncoder()
market_train_df_cleaned.iloc[:, 1] = labelencoder_market_assetcode.fit_transform(market_train_df_cleaned.iloc[:, 1])


#Eliminate Unused Attributes 
market_train_df_usedCols = market_train_df_cleaned [['time','assetCode','assetName','volume','open','close',
                          'returnsClosePrevRaw1','returnsOpenPrevRaw1',
                          'returnsClosePrevRaw10','returnsClosePrevMktres10',
                          'returnsOpenPrevMktres10','returnsOpenNextMktres10','universe']]


#change time format
market_train_df_usedCols['time'] =pd.to_datetime(market_train_df_usedCols.time)
market_train_df_usedCols['time'] = market_train_df_usedCols['time'].dt.strftime('%Y-%m-%d')


market_train_df_usedCols.head(5)

#to decode the target label
#ex: list(labelencoder_news_assetname.inverse_transform([6330]))

/home/mgd-pc/.local/lib/python3.5/site-packages/ipykernel/__main__.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/mgd-pc/.local/lib/python3.5/site-packages/ipykernel/__main__.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,time,assetCode,assetName,volume,open,close,returnsClosePrevRaw1,returnsOpenPrevRaw1,returnsClosePrevRaw10,returnsClosePrevMktres10,returnsOpenPrevMktres10,returnsOpenNextMktres10,universe
0,2007-02-01,0,28,2606900.0,32.17,32.19,0.005938,0.005312,-0.001860,NaN,NaN,0.034672,1.0
1,2007-02-01,1,31,2051600.0,11.08,11.12,0.004517,-0.007168,-0.078708,NaN,NaN,0.027803,0.0
2,2007-02-01,2,18,1164800.0,37.99,37.51,-0.011594,0.025648,0.014332,NaN,NaN,0.024433,1.0
3,2007-02-01,3,74,23747329.0,86.23,84.74,-0.011548,0.016324,-0.048613,NaN,NaN,-0.007425,1.0
4,2007-02-01,4,3,1208600.0,18.01,18.02,0.011791,0.025043,0.012929,NaN,NaN,-0.017994,1.0

In [91]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(market_train_df_usedCols.iloc[:,1:9]
                                                    , market_train_df_usedCols.iloc[:,11], test_size = 0.2, random_state = 0)

In [92]:
#PCA
from sklearn.decomposition import PCA
pca = PCA(n_components = None)

In [93]:
X_train = pca.fit_transform(X_train)
X_test = pca.transform(X_test)
explained_variance = pca.explained_variance_ratio_

In [97]:
explained_variance

array([1.00000000e+00, 2.88756771e-11, 2.68013671e-11, 2.35394495e-11,
       4.11406523e-15, 1.16211253e-16, 1.59337557e-17, 3.05099821e-18])

In [79]:
#News (Done)

#LabelEncode AssetName 
labelencoder_news_assetname = LabelEncoder()
news_train_df_cleaned.iloc[:, 8] = labelencoder_news_assetname.fit_transform(news_train_df_cleaned.iloc[:, 8])

#LabelEncode AssetCode 
labelencoder_news_assetcode = LabelEncoder()
news_train_df_cleaned.iloc[:, 7] = labelencoder_news_assetcode.fit_transform(news_train_df_cleaned.iloc[:, 7])

#LabelEncode Subjects 
labelencoder_news_subjects = LabelEncoder()
news_train_df_cleaned.iloc[:, 4] = labelencoder_news_subjects.fit_transform(news_train_df_cleaned.iloc[:, 4])

#LabelEncode Audiences 
labelencoder_news_audiences = LabelEncoder()
news_train_df_cleaned.iloc[:, 5] = labelencoder_news_audiences.fit_transform(news_train_df_cleaned.iloc[:, 5])

#Eliminate Unused Attributes 
news_train_df_usedCols = news_train_df_cleaned[['time','urgency','subjects'
                      ,'audiences','assetCodes','assetName'
                      ,'relevance','sentimentClass','sentimentNegative',
                      'sentimentNeutral','sentimentPositive','volumeCounts7D']]

#change time format
news_train_df_usedCols['time'] =pd.to_datetime(news_train_df_usedCols.time)
news_train_df_usedCols['time'] = news_train_df_usedCols['time'].dt.strftime('%Y-%m-%d')

news_train_df_cleaned.head(5)

#Get Number of Unique items in attribute
#ex: news_train_df_usedCols['subjects'].unique()

#to decode the target label
#ex: list(labelencoder_news_assetname.inverse_transform([6330]))

/home/mgd-pc/.local/lib/python3.5/site-packages/ipykernel/__main__.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/mgd-pc/.local/lib/python3.5/site-packages/ipykernel/__main__.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,time,sourceTimestamp,firstCreated,sourceId,headline,urgency,takeSequence,provider,subjects,audiences,...,noveltyCount12H,noveltyCount24H,noveltyCount3D,noveltyCount5D,noveltyCount7D,volumeCounts12H,volumeCounts24H,volumeCounts3D,volumeCounts5D,volumeCounts7D
0,2007-01-01,2007-01-01 04:29:32+00:00,2007-01-01 04:29:32+00:00,e58c6279551b85cf,5,1,1,3,10,"{'O', 'Z', 'OIL'}",...,0,0,0,0,0,0,0,3,6,7
1,2007-01-01,2007-01-01 07:03:34+00:00,2007-01-01 07:03:34+00:00,5a31c4327427f63f,8,1,1,3,6,"{'PGE', 'PCU', 'PCO', 'DNP', 'MD', 'E', 'G', '...",...,1,1,1,1,1,1,1,3,3,3
2,2007-01-01,2007-01-01 11:29:56+00:00,2007-01-01 11:29:56+00:00,1cefd27a40fabdfe,22,1,1,3,23,"{'M', 'PMF', 'DNP', 'PTD', 'T', 'E', 'D', 'PSC...",...,0,0,0,0,0,0,0,5,11,17
3,2007-01-01,2007-01-01 12:08:37+00:00,2007-01-01 12:08:37+00:00,23768af19dc69992,21,1,1,3,36,"{'M', 'PMF', 'DNP', 'PTD', 'T', 'E', 'D', 'PSC...",...,0,0,0,0,0,0,0,5,13,15
4,2007-01-01,2007-01-01 12:08:37+00:00,2007-01-01 12:08:37+00:00,23768af19dc69992,21,1,1,3,36,"{'M', 'PMF', 'DNP', 'PTD', 'T', 'E', 'D', 'PSC...",...,0,0,0,0,0,0,0,0,0,0

In [28]:
#table 1
raw_data = {
        'SameDay': ['1', '1', '1', '1'],
        'news': ["n0", "n1", "n2", "n3"]}
df_n = pd.DataFrame(raw_data, columns = [ 'SameDay','news'])
df_n

  SameDay news
0       1   n0
1       1   n1
2       1   n2
3       1   n3

In [31]:
raw_data = {
        'SameDay': ['1', '1', '1', '1'],
        'stock': ["st0", "st1", "st2", "st3"]}
df_m = pd.DataFrame(raw_data, columns = [ 'SameDay','stock'])
df_m

  SameDay stock
0       1   st0
1       1   st1
2       1   st2
3       1   st3

In [68]:
newdf = pd.merge(df_n, df_m,left_on='SameDay', right_on='SameDay')
labelencoder_X_1 = LabelEncoder()
newdf.iloc[:, 2] = labelencoder_X_1.fit_transform(newdf.iloc[:, 2])
newdf

/home/mgd-pc/anaconda3/lib/python3.5/site-packages/sklearn/preprocessing/label.py:171: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

['st2', 'st2', 'st1']

In [40]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [55]:
# Importing the dataset
dataset = pd.read_csv('./datasets/Churn_Modelling.csv')
X = dataset.iloc[:, 3:13].values
y = dataset.iloc[:, 13].values

In [56]:
X[0]

array([619, 'France', 'Female', 42, 2, 0.0, 1, 1, 1, 101348.88],
      dtype=object)

In [ ]:
# Encoding categorical data
labelencoder_X_1 = LabelEncoder()
X[:, 1] = labelencoder_X_1.fit_transform(X[:, 1])

In [60]:
X[0:60, 1]

array([0, 2, 0, 0, 2, 2, 0, 1, 0, 0, 0, 2, 0, 0, 2, 1, 1, 2, 2, 0, 0, 2,
       2, 0, 0, 0, 1, 0, 1, 0, 2, 0, 1, 2, 2, 0, 2, 2, 0, 1, 2, 0, 0, 0,
       2, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 2, 0], dtype=object)

In [42]:
labelencoder_X_2 = LabelEncoder()
X[:, 2] = labelencoder_X_2.fit_transform(X[:, 2])
X[:, 2]

array([0, 0, 0, ..., 0, 1, 0], dtype=object)

In [45]:
onehotencoder = OneHotEncoder(categorical_features = [1])
X = onehotencoder.fit_transform(X).toarray()
X = X[:, 1:]

array([0.0000000e+00, 0.0000000e+00, 6.1900000e+02, 0.0000000e+00,
       4.2000000e+01, 2.0000000e+00, 0.0000000e+00, 1.0000000e+00,
       1.0000000e+00, 1.0000000e+00, 1.0134888e+05])

In [ ]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

# Part 2 - Now let's make the ANN!

# Importing the Keras libraries and packages
import keras
from keras.models import Sequential
from keras.layers import Dense

# Initialising the ANN
classifier = Sequential()

# Adding the input layer and the first hidden layer
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu', input_dim = 11))

# Adding the second hidden layer
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu'))

# Adding the output layer
classifier.add(Dense(output_dim = 1, init = 'uniform', activation = 'sigmoid'))

# Compiling the ANN
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

# Fitting the ANN to the Training set
classifier.fit(X_train, y_train, batch_size = 10, nb_epoch = 100)

# Part 3 - Making the predictions and evaluating the model

# Predicting the Test set results
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)